# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Python
backend/__pycache__/
backend/.venv/
backend/venv/
backend/*.db
backend/satellite_data/
backend/*.tif

# Env
.env
backend/.env
frontend/.env
